/BigO/BigO/nbproject/private/
/BigO/BigO/build/
/CodeWars/CodeWars/nbproject/private/
/CodeWars/CodeWars/build/
/codeWars/codeWars/nbproject/private/
/codeWars/codeWars/build/
/codeWars/Test/nbproject/private/
/codeWars/Test/build/
/codeWars/HashMaps/nbproject/private/
/codeWars/HashMaps/build/
/codeWars/permutations/nbproject/private/
/codeWars/permutations/build/
/codeWars/snippets/nbproject/private/
/codeWars/snippets/build/
/codeWars/StringBuilder/nbproject/private/
/codeWars/StringBuilder/build/
/patterns/nbproject/private/
/patterns/build/

/codeWars/snippets/dist/
/codeWars/HashMap_Implementation/nbproject/private/
/codeWars/Inheritance/nbproject/private/
/codeWars/Inheritance/build/
/codeWars/JavaApplication6/nbproject/private/
/codeWars/JavaApplication6/dist/
/codeWars/JavaApplication6/build/
/codeWars/Test2/nbproject/private/
/codeWars/Test2/build/
/codeWars/HashMap_Implementation/build/
/codeWars/permutations/dist/
/arrays/1_4/palidrome/nbproject/private/
/arrays/1_4/palidrome/build/
/arrays/1_4/palidrome/dist/
/codeWars/Bits/nbproject/private/
/codeWars/Bits/build/
/arrays/1_5/oneWay/nbproject/private/
/arrays/1_5/oneWay/build/
/arrays/1_6/stringCompression/nbproject/private/
/arrays/1_6/stringCompression/build/
/arrays/1_7/rotatematrix/nbproject/private/