/BigO/BigO/nbproject/private/
/BigO/BigO/build/
/CodeWars/CodeWars/nbproject/private/
/CodeWars/CodeWars/build/
/codeWars/codeWars/nbproject/private/
/codeWars/codeWars/build/
/codeWars/Test/nbproject/private/
/codeWars/Test/build/
/codeWars/HashMaps/nbproject/private/
/codeWars/HashMaps/build/
/codeWars/permutations/nbproject/private/
/codeWars/permutations/build/
/codeWars/snippets/nbproject/private/
/codeWars/snippets/build/
/patterns/nbproject/private/